:root{
    /*Typography Scale*/
    --text-xs: 0.50rem;
    --text-sm: 0.75rem;
    --text-base: 1rem;
    --text-lg: 1.25rem;
    --text-xl: 1.5rem;
    --text-2xl: 1.75rem;
    --text-3xl: 1.8rem;
    --text-4xl: 2rem;

    /*Scaling Scale*/
    --space-1: 0.25rem; /*Multiply by 2 here*/
    --space-2: 0.50rem;
    --space-4: 1rem;
    --space-8: 2rem;
    --space-16: 4rem;
}

h1{

  font-size: var(--text-4xl);
  font-family: "Merriweather", serif;
  font-optical-sizing: auto;
  font-weight: bold;
  font-style: normal;
  font-variation-settings:
  "width" 100;
}


section p{
    font-family: sans-serif;
    font-size: var(--text-base);
    line-height: var(--space-4);
    text-overflow: ellipsis; /*Shows when the text is cut off*/
}

div{
    font-size: var(--text-xl);
    padding: var(--space-4);
}

div h2{
    font-size: clamp(1rem, 3vw, 4rem);
}

div p{
    font-size: var(--text-lg);
     max-width: 70ch;
}

.flex-demonstration{ /*This is for the parent*/
    display: flex;
    padding: 1.5rem;
    border: 1px solid black;
    padding: 1rem;
    flex-grow: 1;
    background: grey;
}
/*Align-items focuses on the cross axis while justify content works on the main axis*/

.grid-item{
    background: #245;
    color: #fff;
    padding: 10px;
    border: 1px solid orange;
}
article{
    display: grid;
    /* grid-template-columns: 300px 500px 40%;  */
    /* the more units you assign here, the more columns given, same applies for rows */

    grid-template-columns: 1fr, 2fr;
    grid-template-rows: 200px;
/* column-gap and row gap gives gap to either column or row */
gap: 10% ;
}